@use "../tools/mixin" as *;

.c-home-new {
    height: 90vh;

    @include md() {
        height: 95vh;
    }

    &__wrapper-content {
        width: 100%;
        min-height: 100%;
        margin: auto;
        position: relative;
        overflow: hidden;
    }

    &__wrapper-nav {
        padding-top: 30px;
        position: absolute;
        width: 95%;
        z-index: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
            @include lg() {
                flex-direction: column;
                align-items: flex-start;
            }
        &-inner{
            display: flex;
             justify-content: space-between;
             align-items: center;
             width: 100%;
             @include lg() {
                align-items: start;
                width: 95%;
             }
        }
    }

          &__nav-container {
              display: flex;
              align-items: center;
              gap: 40px;

              @include lg() {
                flex-direction: column;
                gap: 20px;
              }
              &-logo{
                width: 120px;
                height: auto;
                @include lg() {
                    width: 100px;
                }
              }

              &-li {
                display: flex;
                align-items: start;
                list-style: none;
                padding: 0;
                margin: 0;
                gap: 40px;

                @include lg() {
                    flex-direction: column;
                    gap: 20px;
                }
                li a {
                    color: white;
                    text-decoration: none;
                    font-weight: 600;
                    font-size: 16px;
                    cursor: pointer;
                }
              }
          }
          &__nav-button {
            background-color: #132b35;
            color: white;
            border-radius: 10px;
            border: none;
            padding: 15px 30px;
            display: inline-flex;
            align-items: center;
            gap: 10px;
            cursor: pointer;
            transition: all 0.3s ease;
            z-index: 1;
          }

    &__title {
        text-align: left;
        color: white;
        position: absolute;
        width: 100%;
        top: 70%;
        z-index: 2;

        @include md() {
            width: 90%;
            left: 5%;
            top: 60%;
        }
    }

    &__video {
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        iframe {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            border: none;
        }

        &--width {
            position: absolute;
            width: 100%;
            height: 100%;
            left: -9999px;
            right: -9999px;
            margin: auto;
        }

        &--aspect {
            position: absolute;
            width: 100%;
            height: 0;
            top: -9999px;
            bottom: -9999px;
            margin: auto;
            padding-bottom: 56.25%;
            overflow: hidden;
        }

        &--height {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }

        &--hide-controls {
            box-sizing: content-box;
            position: relative;
            height: 100%;
        }
    }
}