---
import "../styles/variables.css";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap"
      rel="stylesheet"
    />
    <title>Carne Bovina Los Lagos</title>
  </head>
  <body>
    <header class="c-header">
      <div class="o-container">
        <nav class="c-header__navbar">
          <ul>
            <li><img class="c-header__logo" src="/public/images/logo-white.svg" alt="" /></li>
            <li><a href="#ahas">Inicio</a></li>
            <li><a href="#">Nosotros</a></li>
            <li><a href="#">Testimonios</a></li>
            <li><a href="#">Blog</a></li>
          </ul>
          <button class="c-header__button">
            <p>Quiero ser parte del PTI</p>
            <img src="/public/images/flecha-white.svg" alt="Flecha" />
          </button>
        </nav>
        <div class="c-header__content">
          <h1 class="c-header__title">Sabor y nutrición que nos une</h1>
        </div>
      </div>
    </header>

    <main>
      <section class="c-advisor">
        <div class="o-container"> 
          <div class="c-advisor__container">
            <h2>Un Impulso al Futuro de la Carne Bovina</h2>
            <div class="c-advisor__content">
              <p>
                En la región de Los Lagos, la ganadería es más que una actividad
                económica; es una tradición arraigada en nuestras raíces. Pero no
                nos conformamos con el pasado. Estamos mirando hacia un futuro
                sostenible y vibrante para la carne bovina de nuestra región.
              </p>
              <p>
                El Programa Territorial Integrado (PTI) de la carne bovina de Los
                Lagos es el motor de este cambio. Estamos comprometidos en
                transformar la ganadería, impulsar la calidad de la carne y
                preservar las tradiciones que nos definen.
              </p>
              <p>
                Únete a nosotros en este viaje hacia un futuro donde la carne bovina
                de la región de Los Lagos sea sinónimo de calidad, sostenibilidad y
                orgullo.
              </p>
            </div>
          </div>
        </div>
      </section>

      <section class="c-cta">
        <div class="o-container">
          <div class="c-cta__container">
            <div class="c-cta__content">
              <div class="c-cta__text">
                <h3>¿Listo para ser parte de la transformación?</h3>
                <h3>Descubre cómo puedes participar hoy mismo</h3>
              </div>
              <button class="c-cta__button">Quiero ser parte del PTI</button>
            </div>
          </div>
        </div>
      </section>

      <section class="c-dato">
        <div class="o-container">
          <div class="c-dato__container">
            <img class="c-dato__image" src="/public/images/datoImg.png" alt="Imagen informativa" />
            <div class="c-dato__content">
              <p class="c-dato__title">¿Cuál es la importancia de la proteína?</p>
              <p class="c-dato__text">
                Lorem ipsum is placeholder text commonly used in the graphic, print,
                and publishing industries for previewing layouts and visual
                mockups.Lorem ipsum is placeholder text commonly used in the
                graphic, print, and publishing industries for previewing layouts and
                visual mockups.
              </p>
              <p class="c-dato__author">Nombre Mujer</p>
              <p class="c-dato__role">Nutricionista</p>
            </div>
          </div>
        </div>
      </section>

      <section class="c-colaboradores">
        <div class="o-container">
          <div class="c-colaboradores__container">
            <div>
              <h2>Colaboradores y Alianzas Estratégicas</h2>
              <img class="c-colaboradores__logo" src="/public/images/logo-corfo.png" alt="Logo Corfo" />
            </div>
            <div class="c-colaboradores__content">
              <p>
                El PTI de la carne bovina de la región de los Lagos es un esfuerzo
                conjunto que demuestra cómo la colaboración puede impulsar el cambio
                positivo en nuestra industria ganadera.
              </p>
              <p>
                En el corazón de este programa se encuentra la Corporación de
                Fomento de la Producción de la Región de los Lagos, Corfo Los Lagos.
              </p>
              <p>
                Además del compromiso de Corfo Los Lagos, nos enorgullece contar con
                la colaboración de una serie de colaboradores tanto del sector
                público como del privado.
              </p>
              <p>
                Estos socios estratégicos trabajan codo a codo con nosotros para
                determinar las brechas en la industria y encontrar soluciones
                innovadoras.
              </p>
            </div>
          </div>
        </div>
      </section>

      <section class="c-testimonios">
        <div class="o-container">
          <div class="c-testimonios__container">
            <div class="c-testimonios__content">
              <p class="c-testimonios__tag">Testimonios</p>
              <div>
                <p class="c-testimonios__text">
                  "Historias de éxito que demuestren el impacto positivo del
                  programa."
                </p>
                <p class="c-testimonios__author">Bastián Gallardo</p>
                <p class="c-testimonios__role">Ganadero</p>
              </div>
            </div>
            <img class="c-testimonios__image" src="/public/images/testimonios.png" alt="Video Testimonio" />
          </div>
        </div>
      </section>

      <section class="c-beneficios">
        <div class="o-container">
          <h2>Nuestros Beneficios</h2>
          <div class="c-beneficios__container">
            <div class="c-beneficios__card c-beneficios__card--1">
              <img
                class="c-beneficios__icon"
                src="/public/images/beneficio-1.png"
                alt="Icono promoción practicas ganaderas"
              />
              <p>Promover prácticas ganaderas responsables.</p>
            </div>
            <div class="c-beneficios__card c-beneficios__card--2">
              <img
                class="c-beneficios__icon"
                src="/public/images/beneficio-2.png"
                alt="Icono elevar calidad carne"
              />
              <p>Elevar la calidad de la carne bovina.</p>
            </div>
            <div class="c-beneficios__card c-beneficios__card--3">
              <img
                class="c-beneficios__icon"
                src="/public/images/beneficio-3.png"
                alt="Icono mejorar los ingresos ganaderos"
              />
              <p>Mejorar los ingresos de los ganaderos.</p>
            </div>
          </div>
        </div>
      </section>

      <section class="c-blog">
        <div class="o-container">
          <div class="c-blog__nav">
            <p class="c-blog__nav-item c-blog__nav-item--active">Blog Completo</p>
            <p class="c-blog__nav-item">Noticias</p>
          </div>

          <div class="c-blog__container">
            <div class="c-blog__card">
              <span class="c-blog__tag">Noticia</span>
              <img class="c-blog__image" src="/public/images/blog-1.jpg" alt="Ganado en el campo" />
              <div class="c-blog__content">
                <h3 class="c-blog__title">Lorem ipsum dolor sit amet</h3>
                <p class="c-blog__text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                </p>
                <button class="c-blog__button">Leer más</button>
              </div>
            </div>
            <div class="c-blog__card">
              <span class="c-blog__tag">Noticia</span>
              <img class="c-blog__image" src="/public/images/blog-2.jpg" alt="Ganado en el campo" />
              <div class="c-blog__content">
                <h3 class="c-blog__title">Lorem ipsum dolor sit amet</h3>
                <p class="c-blog__text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                </p>
                <button class="c-blog__button">Leer más</button>
              </div>
            </div>
            <div class="c-blog__card">
              <span class="c-blog__tag">Noticia</span>
              <img class="c-blog__image" src="/public/images/blog-3.jpg" alt="Ganado en el campo" />
              <div class="c-blog__content">
                <h3 class="c-blog__title">Lorem ipsum dolor sit amet</h3>
                <p class="c-blog__text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                </p>
                <button class="c-blog__button">Leer más</button>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="c-unete">
        <div class="o-container">
          <div class="c-unete__container">
            <h2>Únete a Nuestra Comunidad Ganadera</h2>
            <div class="c-unete__content">
              <p>
                Creemos en el poder de trabajar juntos, comunicarnos y construir
                redes sólidas en la comunidad ganadera de los Lagos. Cuando te unes
                al PTI, no solo obtienes información y apoyos, sino que también te
                conviertes en parte de una comunidad dedicada a la excelencia y al
                crecimiento.
              </p>
              <p>
                Descubre cómo nuestros talleres, recursos y apoyos pueden impulsar
                tu éxito ganadero. Únete a nosotros y aprovecha estas valiosas
                oportunidades para aprender, crecer y colaborar.
              </p>
              <button class="c-unete__button">
                Únete a la Comunidad
                <img src="/public/images/flecha-white.svg" alt="Flecha" />
              </button>
            </div>
          </div>
        </div>
      </section>

      <section class="c-footer">
        <div class="o-container">
          <div class="c-footer__container">
            <img class="c-footer__logo" src="/public/images/logo-white.svg" alt="Logo" />
            <div class="c-footer__content">
              <ul>
                <p>Contacto</p>
                <li>
                  <img src="/public/images/email-icon.svg" alt="Icono Email" />
                  <a href="#">contacto@carnebovinaloslagos.cl</a>
                </li>
                <li>
                  <img src="/public/images/email-icon.svg" alt="Icono Email" />
                  <a href="">gestor.pticarneloslagos@ufrontera.cl</a>
                </li>
                <li>
                  <img src="/public/images/email-icon.svg" alt="Icono Email" />
                  <a href="">comunicaciones.pticarne@gmail.com</a>
                </li>
                <li>
                  <img src="/public/images/call-icon.svg" alt="Icono Llamada" />
                  <a href=""> +56 9 4908 3080</a>
                </li>
              </ul>
              <ul>
                <p>Redes sociales</p>
                <li class="c-footer__social">
                  <img src="/public/images/facebook.svg" alt="Icono Facebook" />
                  <img src="/public/images/instagram.svg" alt="Icono Instagram" />
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>

<style lang="scss" is:global>
@use "../scss/main.scss" as *;

h1, h2, h3, h4, h5, h6 {
  font-family: 'Manrope', sans-serif;
  margin: 0;    
}

main section {
    padding-top: 60px;
    padding-bottom: 60px;
}
</style>