---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Únete al Programa Territorial Integrado (PTI) que Transforma la Ganadería, Impulsa la Calidad y Preserva Nuestras Tradiciones"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style lang="scss" is:global>
  @use "../scss/main.scss" as *;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Manrope", sans-serif;
    margin: 0;
  }

  main section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
</style>
